page-home {
    .scroll-content {
        background-color: map-get($colors, danger)
    }

    .font {
        font-family: 'Fredoka One', cursive;
        font-size: 50px;
        color: white;
    }
  
}
