page-projects {

    ion-card {
        img {
            margin: 10px auto;
            height: 25vh !important;
            width: auto !important;
            max-width: 85%;
            align-items: center;
        }
    }

}
